$background: #2a6cea;
$white: #ffffff;
$main-font: Graphik;

html {
    scroll-behavior: smooth;
}

#root {
    font-family: $main-font;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1040px;
    background-color: $background;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/people.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ceccc6;
        opacity: 0.1;
        z-index: 0;

        @media (max-width: 768px) {
            width: 768px;
        }
    }
    .header__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        font-family: $main-font;
        background-color: $background;

        &__logo {
            display: flex;
            &-one {
                position: relative;
                left: 10px;
                width: 24px;
                height: 24px;
                background-color: #235fcf;
                border-radius: 50%;
            }
            &-two {
                width: 24px;
                height: 24px;
                background-color: $white;
                border-radius: 50%;
            }
            &-txt {
                margin-left: 8px;
                font-family: $main-font;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: $white;
            }
        }

        &__selectors {
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
            .header__block__selector {
                a {
                    margin-left: 15px;
                    position: relative;
                    text-decoration: none;
                    color: $white;
                    display: inline-block;
                    padding-bottom: 2px;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: $white;
                        transition: width 0.3s ease;
                    }
                    &:hover::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 960px;
        margin-bottom: 50px;
        @media (max-width: 375px) {
            height: 800px;
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 748px;
            height: 334px;
            &-title {
                font-size: 52px;
                font-weight: 600;
                color: $white;
                font-family: $main-font;
                text-align: center;
                line-height: 64px;
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 32px;
                    width: 500px;
                    line-height: 40px;
                }
                @media (max-width: 375px) {
                    font-size: 24px;
                    width: 300px;
                    line-height: 40px;
                }
            }

            &-txt {
                font-size: 18px;
                color: $white;
                font-family: $main-font;
                margin-bottom: 100px;
                @media (max-width: 375px) {
                    font-size: 16px;
                    width: 300px;
                    line-height: 40px;
                    text-align: center;
                }
            }

            &-btn {
                cursor: pointer;
                width: 251px;
                height: 64px;
                font-size: 20px;
                font-weight: 600;
                font-family: $main-font;
                background-color: $white;
                border-radius: 4px;
                border: none;
                transition: 0.5s;
                z-index: 1;
                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 375px) {
                    padding: 20px;
                    &:hover {
                        transform: scale(1.1);
                        background-color: #f5f5f5;
                    }
                }

                &:hover {
                    transform: scale(1.05);
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__how-to-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        margin-top: 40px;

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            font-weight: 600;
            margin-bottom: 80px;
            @media (max-width: 768px) {
                margin-top: 70px;
                font-size: 40px;
            }

            @media (max-width: 375px) {
                margin-top: 270px;
                font-size: 40px;
            }
        }

        &__cards {
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            .main__how-to-work__card {
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 164px;
                margin-left: 25px;

                &-logo {
                    margin-bottom: 15px;

                    @media (max-width: 768px) {
                        margin-right: 20px;
                    }
                }

                &-title {
                    display: flex;
                    flex-direction: column;
                    &-title {
                        font-family: Ubuntu;
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 5px;
                        color: #191c1f;

                        @media (max-width: 768px) {
                            font-size: 14px;
                        }
                    }
                    &-txt {
                        font-size: 14px;
                        line-height: 24px;
                        color: #5e646a;

                        @media (max-width: 768px) {
                            font-size: 12px;
                        }
                    }
                }

                @media (max-width: 768px) {
                    flex-direction: row;
                }
            }
        }
    }

    &__third-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 100px;
        margin-bottom: 70px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }

        @media (max-width: 375px) {
            margin-top: 220px;
            flex-direction: column-reverse;
            margin-right: 60px;
        }

        &__left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 592px;

            @media (max-width: 768px) {
                width: 352px;
                margin-right: 20px;
            }

            &-title {
                font-size: 32px;
                font-weight: 600;
                line-height: 40px;
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 20px;
                }

                @media (max-width: 375px) {
                    width: 350px;
                    text-align: center;
                }
            }

            &-txt {
                color: #5e646a;

                span {
                    display: block;
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        &__right-side {
            display: flex;
            justify-content: center;

            background-image: url('../assets/img/phone-background.png');
            background-size: cover;

            @media (max-width: 768px) {
                background-image: url('../assets/img/phone-background.png');
                width: 320px;
                margin-right: 60px;
            }

            @media (max-width: 375px) {
                margin-top: 20px;
            }

            img {
                @media (max-width: 768px) {
                    width: 320px;
                }
            }
        }
    }

    &__reviews {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #f6f8fa;
        width: 100%;
        height: 570px;
        &-title {
            font-size: 40px;
            font-weight: 600;
            font-family: $main-font;
            letter-spacing: 1px;
            margin-top: 70px;
        }

        &__ul {
            display: flex;
            list-style-type: none;

            &-li {
            }

            &-btn {
                border: none;
                background: none;
                margin: 10px;

                &:disabled {
                    img {
                        filter: invert(1) sepia(1) hue-rotate(200deg) brightness(90%)
                            drop-shadow(2px 2px 2px rgb(114, 114, 114));
                    }
                }
                img {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    filter: invert(1) hue-rotate(500deg) brightness(90%)
                        drop-shadow(2px 2px 5px rgb(149, 134, 236));
                    transition: filter 0.5s;
                }
            }

            &-li__div {
                width: 341px;
                height: 316px;
                background-color: $white;
                margin-left: 30px;
                border-radius: 8px;
                box-shadow: 1px 7px 30px rgb(218, 218, 218);

                &__title {
                    display: flex;
                    flex-direction: row;
                    padding: 25px 0 0 15px;
                    &-img {
                        img {
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                            border: 1px solid #afb2b4;
                        }
                    }

                    &-initials {
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;

                        span {
                            &:nth-child(1) {
                                font-size: 16px;
                                font-weight: 600;
                                width: 237px;
                                margin-bottom: 10px;
                            }

                            &:nth-child(2) {
                                font-size: 12px;
                                font-weight: 600;
                                width: 237px;
                                margin-bottom: 10px;
                                color: #8b8b8b;
                            }
                        }
                    }
                }

                &-txt {
                    padding: 15px 0 0 25px;
                    line-height: 24px;
                    font-size: 14px;
                    width: 297px;
                }
            }
        }

        &__dots {
            margin: 20px 0 20px 0;
            span {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                display: inline-block;
                margin: 0 10px;
                transition: background-color 0.5s;
            }
        }
    }

    &__question-answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        &-title {
            font-size: 40px;
            font-weight: 600;
            margin: 80px 0 40px 0;
            @media (max-width: 375px) {
                font-size: 25px;
            }
        }

        &__list {
            list-style-type: none;
            width: 1008px;
            @media (max-width: 768px) {
                width: 720px;
                margin-right: 30px;
            }
            @media (max-width: 375px) {
                width: 300px;
                margin-right: 30px;
            }
            &-item {
                &-line {
                    height: 1px;
                    background-color: #eceff2;
                }
                &__question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-family: Ubuntu;
                        height: 50px;
                        margin-top: 28px;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        @media (max-width: 375px) {
                            margin-bottom: 30px;
                        }
                    }
                    &-img {
                        .rotate {
                            transform: rotate(225deg) scale(1.3);
                        }
                        img {
                            width: 24px;
                            height: 24px;
                            transition: transform 0.4s ease-in-out;
                        }
                    }
                }
                &__answer {
                    color: #5e646a;
                    line-height: 32px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__facts {
        background-color: #f6f8fa;
        display: flex;
        width: 100%;
        justify-content: center;
        &-block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            margin: 80px 0 60px 0;
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                width: 200px;
                align-items: center;
            }
            @media (max-width: 375px) {
                display: flex;
                flex-direction: column;
            }
            &-fact {
                @media (max-width: 375px) {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                }
                display: flex;
                flex-direction: column;
                width: 592px;
                gap: 20px;

                &-title {
                    font-size: 18px;
                    font-weight: 600;
                }

                &-txt {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            margin-top: 80px;
            color: #191c1f;
            font-size: 40px;
            font-weight: 600;
        }

        @media (max-width: 768px) {
            justify-content: center;
        }

        &-initials {
            display: flex;

            margin-top: 60px;
            @media (max-width: 768px) {
                width: 600px;
            }
            &-name {
                width: 384px;
                height: 64px;
                background-color: #f6f8fa;
                border: none;
                font-size: 18px;
                border-radius: 4px;
                padding-left: 10px;
            }

            &-number {
                width: 384px;
                height: 64px;
                background-color: #f6f8fa;
                border: none;
                font-size: 18px;
                border-radius: 4px;
                padding-left: 10px;

                &:focus {
                    background-color: $white;
                    border: 1px solid #c2c8cd;
                }

                &::placeholder {
                    padding-top: 10px;
                }
            }

            &-label {
                &-name {
                    position: relative;
                    left: 60px;
                    top: 25px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                    .focus {
                        top: -15px;
                    }
                }

                &-number {
                    position: relative;
                    left: 100px;
                    top: 25px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                }
            }
        }

        &-send {
            display: flex;
            margin: 40px 0 0 12px;
            justify-content: space-around;
            &-checkbox {
                display: flex;

                width: 384px;
                height: 64px;
                input {
                    width: 24px;
                    height: 24px;
                    border: 22px solid #c2c8cd;
                    margin-left: 20px;
                }
                span {
                    display: block;
                    margin: 7px 0 0 10px;
                }
            }

            &-btn {
                width: 396px;
                height: 64px;
                background-color: $background;
                font-size: 20px;
                font-weight: 600;
                color: $white;
                border: none;
                border-radius: 4px;
                margin-left: 90px;
            }
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #eceff2;
    }

    &__initials {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 1920px;
        margin: 100px 0 30px 0;
        div {
            margin-bottom: 30px;
        }
    }
}
